.clickable {
    transition: transform 0.1s ease-in-out;
}

.clickable:active {
    transform: scale(0.95);
    filter: brightness(0.8);
}

.text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
}

.safe-padding {
    padding-bottom: 0px; /* 기본값 */
}

@supports (padding-bottom: env(safe-area-inset-bottom)) {
    .safe-padding {
        padding-bottom: env(safe-area-inset-bottom);
    }
}